<!DOCTYPE html>
<html>
<head>
    <title>My Appointments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">My Appointments</h1>
        <ul class="list-group">
            {% for appointment in appointments %}
                <li class="list-group-item">
                    <strong>{{ appointment.date }} at {{ appointment.time }}</strong> with {{ appointment.doctor.user.get_full_name }}
                    <p>{{ appointment.reason }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
